* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
}
.pulse-text {
    font-size:2rem;
    display: inline-block;
    animation: pulse 1s infinite;
    animation-timing-function: ease-in-out;
}
@keyframes pulse {
    0%{
        transform: scale(1);
        opacity: 1;
    }
    50%{
        transform: scale(1.1);
        opacity: 0.7;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
